backend/assets/dart_control/smplx_models/**/*.npz filter=lfs diff=lfs merge=lfs -text
backend/assets/dart_control/mld/*.pt filter=lfs diff=lfs merge=lfs -text
backend/assets/dart_control/mvae/*.pt filter=lfs diff=lfs merge=lfs -text
